extends layout
// Set the view for maps

block content
	.panel.panel-default
		.panel-body.text-center
			h1.text-info.mdi-image-filter-hdr   The Colorado App
	.wrapper
		img.text-center.intro-img.img-responsive(src='http://s11.postimg.org/4759jweeb/maroon_Bowl_Large.jpg', alt='Responsive image')
		.sol-sm-6
			h3#text A community space to find and share adventures
	.wrapper
		.container
			#adventure-list
				h1.text-center FIND ADVENTURES NEAR YOU
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/trails") Hiking
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/snow") Snow
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/biking") Biking
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/geoCache") GeoCaching
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/adrenaline") Adrenaline
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/cityLife") Scenic
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/cityLife") City Life
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/brewery") Breweries
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/generalShenanigans") Music
				.btn-group.btn-group-justified(role='group', aria-label='...')
					a.btn.btn-info.button-text(href="/view/generalShenanigans") General Shenanigans
	#my-adventure
	//- 	h1.text-center FIND BY LOCATION
	//- ul
	//- 	li: a(href="/map") SEARCH ON MAP


	footer.footer.btn-group.btn-group-justified
		a(title= "SEARCH BY MAP", href="/mapAdventures").btn.icon.mdi-action-language
		a(title= "MAKE YOUR OWN ADVENTURE", href="/update").btn.icon.mdi-content-add
		a(title= "HOME", href="/").btn.icon.mdi-image-filter-hdr
		
block scripts
	script(src="/scripts/welcome.js")
	script(src="/scripts/main.js")
