extends layout
// Set the view for maps

block content
	.panel.panel-default
		.panel-body.text-center
			h1.text-info The Colorado App
	#view-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal")
						span &times;
					h4.modal-title View an adventure
				.modal-body
					h5.adventure-name Adventure Name
					em.adventure-latlng Location 
					p.adventure-type Type
					p.adventure-date Date 
					p.text-center.adventure-imgUrl
					p.adventure-description
					p.adventure-rating
	#adventure-list
		h1.text-center FIND YOUR ADVENTURE
	#mapcontainer
		#map-canvas
	ul
		li: a(href="/view/trails") Trails
		li: a(href="/view/snow") Snow
		li: a(href="/view/biking") Biking
		li: a(href="/view/geoCache") GeoCaching
		li: a(href="/view/adrenaline") Adrenaline
		li: a(href="/view/cityLife") City Life
		li: a(href="/view/brewery") Brewery
		li: a(href="/view/generalShenanigans") General Shenanigans

block scripts
	script(src="/scripts/welcome.js")
	script(src="/scripts/map.js")

