extends layout
// Set the view for maps

block content
	.panel.panel-default
		.panel-body.text-center.panel-material-light-blue
			h1.text-info The Colorado App
	#adventure-list
		h1.text-center FIND ADVENTURES NEAR YOU
	ul
		li: a(href="/view/trails") Trails
		li: a(href="/view/snow") Snow
		li: a(href="/view/biking") Biking
		li: a(href="/view/geoCache") GeoCaching
		li: a(href="/view/adrenaline") Adrenaline
		li: a(href="/view/cityLife") City Life
		li: a(href="/view/brewery") Brewery
		li: a(href="/view/generalShenanigans") General Shenanigans

		h1.text-center FIND BY LOCATION
	ul
		li: a(href="/mapAdventures") SEARCH ON MAP
	.icon-preview
		i.mdi-image-filter-hdr
			span 
	footer.footer
		.icon-preview
			i.mdi-image-filter-hdr
				span 
		

block scripts
	script(src="/scripts/welcome.js")
	script(src="/scripts/main.js")

