extends layout
// Set the view for maps

block content
	.panel.panel-default
		.panel-body.text-center
			h1.text-info The Colorado App
	#adventure-list
		h1.text-center FIND ADVENTURES NEAR YOU
	ul
		li: a(href="/view/trails") Trails
		li: a(href="/view/snow") Snow
		li: a(href="/view/biking") Biking
		li: a(href="/view/geoCache") GeoCaching
		li: a(href="/view/adrenaline") Adrenaline
		li: a(href="/view/cityLife") City Life
		li: a(href="/view/brewery") Brewery
		li: a(href="/view/generalShenanigans") General Shenanigans

	footer.footer Sticky Footer

block scripts
	script(src="/scripts/welcome.js")

