extends layout
// Set the view for maps

block content
	.panel.panel-default
		.panel-body.text-center
			h1.text-info The Colorado App	
	form#new-adventure
		h1 Add an Adventure
		.form-group
			select.form-control.adventure-type
				option(value="trails") Trails
				option(value="snow") Snow
				option(value="biking") Biking
				option(value="adrenaline") Adrenaline
				option(value="geoCache") GeoCache
				option(value="cityLife") City Life
				option(value="brewery") Brewery
				option(value="generalShenanigans") General Shenanigans
		.form-group
			input.adventure-name.form-control(type="text", value="unicycle", placeholder="adventure name...")
		.form-group
			input.adventure-date.form-control(type="date", value="2014-03-01", placeholder="date...")
		.form-group
			input.adventure-imgUrl.form-control(type="url", value="http://ecx.images-amazon.com/images/I/71BSGr77P2L._SL1500_.jpg", placeholder="image...")
		.form-group
			input.adventure-description.form-control(type="text", value="unnecessary challenge", placeholder="adventure desctiption")
		.form-group
			input.adventure-rating.form-control(type="number", value="2", placeholder="adventure rating")
		.modal-footer
			input.btn.btn-info(type="submit", value="Choose a location and Save")
	#mapcontainer
		#map-canvas
	#my-adventure
	ul#adventure-list.text-center
		h1.text-center YOUR ADVENTURES
		for adventure in adventures
			li.adventure(data-id="#{adventure._id}")
				strong= adventure.name
				| &nbsp;
				a.btn.btn-info.view(href="#") view
				|  - 
				a.btn.btn-info.edit(href="#") edit
				|  - 
				a.btn.btn-info.delete(href="#") delete
	#view-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal")
						span &times;
					h4.modal-title View an adventure
				.modal-body
					h5.adventure-name Adventure Name
					p.adventure-type Type
					p.adventure-date Date
					p.text-center.adventure-imgUrl
					p.adventure-description Desctiption
					p.adventure-rating Rating
					
					
	#edit-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal")
						span &times;
					h4.modal-title Edit an adventure
				form#edit-form
					input.adventure-id(type="hidden")
					.modal-body
						.form-group
							input.adventure-name.form-control(type="text", placeholder="adventure name...")
						.form-group
							input.adventure-type.form-control(type="text", placeholder="adventure Type...")
						.form-group
							input.adventure-date.form-control(type="date", placeholder="date...")
						.form-group
							input.adventure-imgUrl.form-control(type="url", placeholder="image...")
						.form-group
							input.adventure-description.form-control(type="text", placeholder="adventure desctiption")
						.form-group
							input.adventure-rating.form-control(type="number", placeholder="adventure rating")
					.modal-footer
						input.btn.btn-primary(type="submit", value="Save Changes")
	footer.footer Sticky Footer

block scripts
	script(src="/scripts/map.js")



