#map-canvas, html, body { 
	height: 100%;
	
}

#mapcontainer { 
	float: none;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	width: 75%;
}

#view-modal img{
	width: 80%;
	padding: 10px
}

#adventure-list img{
	width: 20%;
	padding: 10px
}

.footer {  
	position: fixed;
	bottom: 0;
  	width: 100%;
  	height: 80px;
  	background-color: #FFE85C;
  	opacity: .6
}

.icon-preview {
	width: 100%;
	height: 80px
}

/*#6D5CFF
#8375FF
#3C2FB2*/

#map-gcanvas {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
}