#map-canvas, html, body { 
	height: 100%;
	background-color:  #C60000
}

#mapcontainer { 
	float: none;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	width: 75%
}

#adventure-list img, #view-modal img{
	width: 80%;
	padding: 10px
}

.panel {
	background-color: #002868;
	color:   #FCFB00
}